.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #646261;
    opacity: 0.7;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(170, 169, 168, 0.6);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../IMAGES/profile.jpg) no-repeat center;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #643d42; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #c4adb0; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #c4adb0; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background-color: #aaa9a8;
  color: #f5f0f0;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden; }
  body#bg-img {
    background: url(../IMAGES/programmer_new.jpg) no-repeat center fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(155, 152, 150, 0.5); }

.achievement-img {
  max-width: 100%; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(133, 133, 133, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #643d42; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.5rem;
      transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 10vh; }

.about-info {
  margin-top: 12vh;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio-image bio bio' 'achievements achievements achievements';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    max-width: 70%;
    margin: auto;
    border-radius: 50%;
    border: #643d42 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .achievements {
    grid-area: achievements;
    text-align: center;
    width: 100%;
    position: relative; }
    .about-info .achievements h2 {
      font-size: x-large;
      margin-top: 1em; }
    .about-info .achievements .slidershow {
      width: 50vw;
      height: 60vh; }
      .about-info .achievements .slidershow .navigation {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        display: grid;
        grid-template-areas: 'text text text text' 'nav-bar nav-bar nav-bar nav-bar'; }
        .about-info .achievements .slidershow .navigation .navigation-instruction {
          grid-area: text;
          font-size: 10.5px;
          transition: 0.2s; }
        .about-info .achievements .slidershow .navigation .bar {
          width: 70px;
          height: 15px;
          border: 2px solid #fff;
          margin: 6px;
          cursor: pointer;
          transition: 0.4s; }
        .about-info .achievements .slidershow .navigation .bar:hover {
          background: #fff; }
      .about-info .achievements .slidershow .slides {
        width: 500%;
        height: 100%;
        display: flex; }
        .about-info .achievements .slidershow .slides input[name="r"] {
          position: absolute;
          visibility: hidden; }
        .about-info .achievements .slidershow .slides .slide {
          width: 20%;
          transition: 0.6s;
          border: #643d42 2px solid;
          box-shadow: 0 0 0.7rem 0 #646060;
          margin-right: 0.5rem; }
          .about-info .achievements .slidershow .slides .slide img {
            width: 100%;
            height: 100%; }
          .about-info .achievements .slidershow .slides .slide div {
            position: absolute;
            background: rgba(91, 184, 55, 0.5);
            width: 100%;
            height: 8rem;
            text-align: left;
            padding-left: 5%; }
            .about-info .achievements .slidershow .slides .slide div p .see-more-links {
              text-decoration: underline; }
        .about-info .achievements .slidershow .slides #mzamomhle-slide div {
          height: 6.8rem;
          background: rgba(77, 13, 8, 0.5); }
        .about-info .achievements .slidershow .slides #bdcc-slide div {
          height: 6.8rem;
          background: rgba(121, 84, 81, 0.7); }
        .about-info .achievements .slidershow .slides #r1:checked ~ .s1 {
          margin-left: 0; }
        .about-info .achievements .slidershow .slides #r2:checked ~ .s1 {
          margin-left: -20%; }
        .about-info .achievements .slidershow .slides #r3:checked ~ .s1 {
          margin-left: -40%; }
        .about-info .achievements .slidershow .slides #r4:checked ~ .s1 {
          margin-left: -60%; }
    .about-info .achievements .middle {
      position: absolute;
      margin-top: 20%;
      left: 50%;
      transform: translate(-50%, -50%); }

.community-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'about about about about about' 'vegetables vegetables vegetables vegetables vegetables' 'galleryContainer galleryContainer galleryContainer galleryContainer galleryContainer'; }
  .community-info #project-info {
    grid-area: about; }
  .community-info #vegetables {
    grid-area: vegetables; }
  .community-info .gallery-container {
    grid-area: galleryContainer;
    display: flex;
    flex-direction: column; }
    .community-info .gallery-container .gallery-pics {
      display: grid;
      grid-template-columns: repeat(4, 25%); }
      .community-info .gallery-container .gallery-pics .pic {
        width: 98%;
        height: 15rem;
        border-radius: 5px;
        border: #643d42 1px solid;
        box-shadow: 0 0 0.5rem 0 #646060;
        margin-bottom: 0.3rem; }
      .community-info .gallery-container .gallery-pics .pic1 {
        background: url("../IMAGES/mzamomhle/pic1.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic2 {
        background: url("../IMAGES/mzamomhle/pic2.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic3 {
        background: url("../IMAGES/mzamomhle/pic3.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic4 {
        background: url("../IMAGES/mzamomhle/pic4.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic5 {
        background: url("../IMAGES/mzamomhle/pic5.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic6 {
        background: url("../IMAGES/mzamomhle/pic6.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic7 {
        background: url("../IMAGES/mzamomhle/pic7.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic8 {
        background: url("../IMAGES/mzamomhle/pic8.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic9 {
        background: url("../IMAGES/mzamomhle/pic9.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic10 {
        background: url("../IMAGES/mzamomhle/pic10.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic11 {
        background: url("../IMAGES/mzamomhle/pic11.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic12 {
        background: url("../IMAGES/mzamomhle/pic12.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic13 {
        background: url("../IMAGES/mzamomhle/pic13.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic14 {
        background: url("../IMAGES/mzamomhle/pic14.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic15 {
        background: url("../IMAGES/mzamomhle/pic15.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic16 {
        background: url("../IMAGES/mzamomhle/pic16.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic17 {
        background: url("../IMAGES/mzamomhle/pic17.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic18 {
        background: url("../IMAGES/mzamomhle/pic18.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic19 {
        background: url("../IMAGES/mzamomhle/pic19.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic20 {
        background: url("../IMAGES/mzamomhle/pic20.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic21 {
        background: url("../IMAGES/mzamomhle/pic21.jpg");
        background-position: center;
        background-size: cover; }
      .community-info .gallery-container .gallery-pics .pic22 {
        background: url("../IMAGES/mzamomhle/pic22.jpg");
        background-position: center;
        background-size: cover; }

.skills-info {
  margin-top: 5vh;
  display: grid;
  grid-gap: 60px;
  grid-template-areas: 'skills1 skills2' 'cv cv';
  grid-template-columns: repeat(2, 1fr); }

.skills-1 {
  grid-area: skills1; }

.skills-2 {
  grid-area: skills2; }

#cv-link {
  grid-area: cv;
  text-align: center;
  color: blue;
  text-decoration: underline; }

.skills {
  background: #c5c3c3;
  padding: 1rem;
  border-bottom: #643d42 5px solid;
  text-align: center;
  box-shadow: 0 0 0.5rem 0 #646060;
  color: #2b2a2a;
  border-radius: 5px;
  margin-top: 2rem;
  padding-bottom: 3rem; }
  .skills .skills1-containter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 10%; }
    .skills .skills1-containter img {
      margin-top: 2rem;
      width: 3.5rem; }
  .skills .skills2-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .skills .skills2-container p {
      margin-top: 1rem;
      font-weight: bold; }

.projects-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .projects-info .project-div {
    height: 13rem;
    width: 13rem;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #643d42; }
  .projects-info .tic-tac-toe {
    background: url("../IMAGES/tictactoe.png");
    background-size: cover; }
  .projects-info .memory-game {
    background: url("../IMAGES/memorygame.jpg");
    background-size: cover; }
    .projects-info .memory-game .project-inner-div {
      background: rgba(92, 60, 57, 0.7); }

.project-title {
  font-weight: bold;
  font-size: 20px; }

.project-title:hover {
  font-size: 22px; }

.project-inner-div {
  width: 100%;
  height: 100%;
  background: rgba(92, 60, 57, 0.5);
  display: grid; }

.project-btn {
  cursor: pointer;
  height: 1.5rem;
  border: 1.5px solid #643d42;
  background-color: #646060;
  width: 90%;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #e2d9d9; }

.project-btn:hover {
  font-size: 12px; }

.contact-info {
  margin-top: 12vh;
  display: grid;
  grid-gap: 25px;
  grid-template-areas: 'contact-image contact-form' 'empty email-section' 'empty social-section';
  grid-template-columns: repeat(2, 1fr); }
  .contact-info .contact-image {
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
    border: #643d42 3px solid;
    box-shadow: 0 0 0.5rem 0 #646060; }
  .contact-info .contact-form {
    max-width: 100%; }
  .contact-info .contact-form input {
    width: 75%;
    height: 2.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding-left: 1rem; }
  .contact-info .contact-form #message-area {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-left: 1.1rem;
    width: 75%;
    height: 18rem; }
  .contact-info .contact-form button {
    height: 2rem;
    width: 60%;
    border-radius: 5px;
    background-color: #bdbbb8;
    color: #201e1e;
    cursor: pointer;
    border: #643d42 1px solid; }
  .contact-info .contact-form button:hover {
    background-color: gray;
    color: white; }

.social-info {
  text-align: center; }
  .social-info h2 {
    font-size: smaller;
    margin-top: 6vh; }
  .social-info .icons {
    margin-top: 1rem; }
    .social-info .icons a {
      padding: 0.5rem;
      transition: all 0.5s ease-out; }
      .social-info .icons a img {
        width: 3rem; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #91908e;
  color: set-text-color(#aaa9a8);
  height: 60px; }

.about-footer {
  margin-top: 70vh; }

.skills-footer {
  top: 5vh; }

#community #h1-heading {
  font-size: 5rem; }

#vegetables-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

@media screen and (min-width: 1171px) {
  main#home .icons a img {
    width: 4%; }
  .skills1-container {
    margin-left: 3%;
    margin-right: 3%; }
    .skills1-container img {
      width: 5rem;
      margin-top: 1.5rem;
      margin-right: 1rem; }
  .contact-info {
    padding-left: 15%;
    padding-right: 15%; }
  .contact-form #message-area {
    height: 15rem; }
  .social-info h2 {
    font-size: x-large;
    margin-top: 5vh;
    font-weight: bold; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  main#home .icons a img {
    width: 6%; }
  .navigation {
    position: relative;
    margin-top: 0; }
  .slidershow {
    top: 25vh; }
    .slidershow .slides .slide {
      height: 30vh; }
  .skills1-container {
    margin-left: 3%;
    margin-right: 3%; }
    .skills1-container img {
      width: 4rem;
      margin-top: 1.5rem;
      margin-right: 1rem; }
  .contact-info {
    padding-left: 15%;
    padding-right: 15%; }
  .contact-info {
    padding-left: 8%;
    padding-right: 8%; }
    .contact-info .contact-form #message-area {
      height: 12rem; }
  .social-info h2 {
    font-size: x-large;
    margin-top: 5vh;
    font-weight: bold; }
  #main-footer {
    margin-top: 25vh; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px; }
  main#home .icons a img {
    width: 10%; }
  main#about h1 {
    margin-top: 10vh;
    font-size: 3rem; }
  .about-info {
    grid-template-areas: 'bio-image' 'bio' 'achievements' 'achievements' 'achievements';
    grid-template-columns: 1fr; }
    .about-info .bio-image {
      max-width: 40%; }
    .about-info .achievements {
      grid-area: achievements; }
      .about-info .achievements .slidershow {
        top: 8rem;
        height: 30vh; }
        .about-info .achievements .slidershow .slides #mzamomhle-slide .mzamomhle-div {
          height: 21vh; }
        .about-info .achievements .slidershow .slides #bdcc-slide .bdcc-div {
          height: 21vh; }
        .about-info .achievements .slidershow .slides .slide div {
          height: 70%; }
          .about-info .achievements .slidershow .slides .slide div p {
            font-size: 82%; }
        .about-info .achievements .slidershow .slides .slide img {
          max-width: 100%;
          max-height: 100%; }
  #community #h1-heading {
    font-size: 35px; }
  #community .sm-heading {
    font-size: 16px; }
  #community .community-info #vegetables #vegetables-list {
    text-align: left; }
  #community .community-info .gallery-container .gallery-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    #community .community-info .gallery-container .gallery-pics .pic {
      height: 10rem; }
  .skills-info {
    grid-template-areas: 'skills1'  'skills2' 'cv';
    grid-template-columns: 1fr; }
  .skills1-container {
    margin-left: 3%;
    margin-right: 3%; }
    .skills1-container img {
      width: 3rem;
      margin-top: 1.5rem;
      margin-right: 1rem; }
  .projects-info .project-div {
    margin-right: 1rem; }
  .contact-info {
    grid-template-areas: 'contact-image'  'contact-form';
    grid-template-columns: 1fr;
    padding-left: 15%;
    padding-right: 15%; }
  main#contact h1 {
    margin-top: 10vh;
    font-size: 3rem; }
  .contact-form {
    margin-top: 3vh; }
  .contact-form input {
    max-width: 100%; }
  .contact-form #message-area {
    max-width: 100%; }
  .contact-form button {
    height: 2rem;
    width: 50%; }
  #main-footer {
    margin-top: 35vh; } }

@media screen and (max-width: 500px) {
  main#home {
    padding-left: 10%;
    padding-right: 10%; }
  main#home h1 {
    margin-top: 10vh;
    font-size: 2.5rem; }
  .menu-nav {
    height: 65vh; }
    .menu-nav .nav-item a {
      font-size: 75%; }
  .menu-branding {
    height: 35vh; }
  main#home .icons a img {
    width: 17%; }
  main#home .icons a {
    padding-right: 2%; }
  main#about {
    padding-left: 10%;
    padding-right: 10%; }
    main#about .about-info .bio-image {
      max-width: 60%; }
    main#about .about-info .bio h3 {
      font-size: 95%; }
    main#about .about-info .bio p {
      font-size: 70%; }
    main#about .about-info .achievements h2 {
      margin-top: 1vh;
      font-size: 99%;
      width: 100%; }
    main#about .about-info .achievements .slidershow {
      top: 17vh;
      width: 100%; }
      main#about .about-info .achievements .slidershow .navigation {
        display: none; }
      main#about .about-info .achievements .slidershow .slides {
        display: flex;
        flex-direction: column; }
        main#about .about-info .achievements .slidershow .slides input {
          display: none; }
        main#about .about-info .achievements .slidershow .slides #umuzi-slide {
          box-shadow: 0 0 0.7rem 0 #5bb837; }
        main#about .about-info .achievements .slidershow .slides .slide {
          height: 30vh;
          margin-bottom: 1rem;
          border: #643d42 2px solid;
          box-shadow: 0 0 0.7rem 0 #646060; }
          main#about .about-info .achievements .slidershow .slides .slide div {
            padding-right: 0.8rem;
            max-height: 80%;
            max-width: 100%;
            box-shadow: 0 0 0.7rem 0 #646060; }
            main#about .about-info .achievements .slidershow .slides .slide div p {
              font-size: 75%; }
          main#about .about-info .achievements .slidershow .slides .slide .mzamomhle-div {
            height: 72%; }
            main#about .about-info .achievements .slidershow .slides .slide .mzamomhle-div p {
              font-size: 70%; }
          main#about .about-info .achievements .slidershow .slides .slide .umuzi-div {
            height: 72%; }
            main#about .about-info .achievements .slidershow .slides .slide .umuzi-div p {
              font-size: 70%; }
          main#about .about-info .achievements .slidershow .slides .slide .bdcc-div {
            height: 72%;
            background: rgba(121, 84, 81, 0.6); }
            main#about .about-info .achievements .slidershow .slides .slide .bdcc-div p {
              font-size: 70%; }
          main#about .about-info .achievements .slidershow .slides .slide img {
            max-height: 100%;
            max-width: 100%; }
  main#about h1 {
    margin-top: 10vh;
    font-size: 2.5rem; }
  #community h1 {
    font-size: 2.5rem; }
  main#skills h1 {
    margin-top: 10vh;
    font-size: 3.5rem; }
  .skills1-container {
    margin-left: 3%;
    margin-right: 3%; }
    .skills1-container img {
      width: 3rem;
      margin-top: 1.5rem;
      margin-right: 1rem; }
  main#contact {
    padding-right: 10%;
    padding-left: 10%; }
  main#contact h1 {
    margin-top: 10vh;
    font-size: 2rem; }
  main#contact h2 {
    font-size: 1.5rem; }
  .contact-form button {
    height: 2rem;
    width: 100%; }
  .contact-info {
    padding-left: 8%;
    padding-right: 8%; }
    .contact-info .contact-form #message-area {
      height: 12rem; }
  #community #h1-heading {
    font-size: 30px; }
  #community .sm-heading {
    font-size: 16px; }
  #community .community-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    #community .community-info #project-info {
      width: 100%;
      text-align: center;
      font-size: 12px; }
    #community .community-info #vegetables {
      width: 100%;
      display: flex;
      flex-direction: column; }
      #community .community-info #vegetables #vegetables-title {
        width: 100%; }
      #community .community-info #vegetables #vegetables-list {
        display: grid;
        grid-template-columns: none;
        text-align: left; }
    #community .community-info .gallery-container .gallery-pics {
      display: flex;
      flex-direction: column; }
      #community .community-info .gallery-container .gallery-pics .pic {
        height: 7rem; }
  #projects {
    text-align: center; }
    #projects .lg-heading {
      font-size: 38px; }
    #projects .sm-heading {
      font-size: 1.5rem; }
    #projects .projects-info {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column; }
      #projects .projects-info .project-div {
        margin-top: 1rem; }
  #about-body #main-footer {
    margin-top: 130vh; }
  #community-body #main-footer {
    margin-top: 5vh; }
  #skills-body #main-footer {
    margin-top: 3vh; }
  #contact-body #main-footer {
    margin-top: 3vh; } }
