/* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header, nav {
    width: 100%;
}

#logo {
    margin-top: 1.1rem;
}

.side-menu a {
    color: honeydew;
}

.side-menu-item {
    margin-bottom: 1.5rem;
    
}

.side-menu-item:hover {
    color: white;
}

.menu-item {
    font-size: larger;
    margin-bottom: 2%;
}

.menu-item a {
    color: rgb(236, 227, 227);
}

.menu-item a:hover {
    color: white;
}

.menu-item:hover {
    border-bottom: 2px solid black;
}

.header-nav {
    box-shadow: 0 0 0.5rem 0 black;
    background: url('../IMAGES/programmer.jpg') no-repeat center fixed;
    opacity: 0.9;
}

header {
    width: 100%;
    height: 50rem;
    background: url('../IMAGES/programmer_new.jpg') no-repeat center fixed;
    background-size: cover;
}

.intro-sec {
    margin-left: 5%;
    margin-right: 5%;
}

.intro-sec h4, h1 {
    color: rgb(236, 227, 227);
}

.intro-sec-p {
    background-color: transparent;
    border: 2px solid rgb(70, 67, 67);
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(236, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-sec-p:hover {
    background-color: rgb(145, 143, 143);
}

#about-sec {
    width: 100%;
}

.about-pic-sec {
    width: 60%;
    height: 25.5rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2.5rem;
}

.about-pic-sec img {
    max-width: 100%;
}


@media screen and (max-width: 767px) {
    #logo {
        width: 9%;
        margin-right: 55%;
    }

    .menu-img {
        cursor: pointer;
        width: 8%;
        position: absolute;
        z-index: 3;
        margin-top: 1.5rem;
    }

    .desktop-menu {
        display: none;
    }

    .side-menu {
        margin-left: 60%;
        width: 40%;
        height: 42vh;
        padding-top: 19%;
        margin-top: 0rem;
        top: 0;
        text-align: left;
        position: absolute;
        z-index: 2;
        background-color: rgb(159, 170, 169);
        opacity: 0.9;
        color: honeydew;
        visibility: hidden;
    }

    .side-menu li {
        margin-bottom: 1.5rem;
    }

    .header-nav {
        height: 4.5rem;
    }

    .intro-sec {
        margin-top: 10%;
    }

    .intro-sec h4, h1 {
        font-size: large;
    }

    .intro-sec-p {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #about-sec h5 {
        margin-top: 3rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    #logo {
        width: 10%;
        margin-right: 60%;
    }

    .menu-img {
        display: none;
    }

    .side-menu {
        display: none;
    }

    .header-nav {
        display: flex;
        height: 5rem;
    }

    .desktop-menu {
        width: 80%;
        margin-left: 20%;
        margin-top: 2.8rem;
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: space-evenly;
    }

    header {
        background: url('../IMAGES/programmer3pro.jpg') no-repeat center fixed;
        background-size: cover;
    }

    .intro-sec {
        margin-top: 5%;
    }

    .intro-sec-p {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }

    #about-sec {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10, minmax(2rem, auto));
        text-align: left;
    }

    #about-sec h5 {
        grid-column: 7/8;
        grid-row: 2/4;
    }

    #about-sec h2 {
        grid-column: 7/9;
        grid-row: 3/4;
    }

    .about-pic-sec {
        grid-column: 1/8;
        grid-row: 2/10;
    }
}


@media screen and (min-width: 992px) {
    #logo {
        width: 10%;
        margin-left: 20%;
    }

    .header-nav {
        display: flex;
        height: 5rem;
    }

    .desktop-menu {
        width: 45%;
        margin-left: 35%;
        margin-top: 2.8rem;
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: space-evenly;
    }

    .menu-img {
        display: none;
    }

    .side-menu {
        display: none;
    }

    header {
        background: url('../IMAGES/programmer3.jpg') no-repeat center fixed;
        background-size: cover;
    }

    .intro-sec {
        margin-top: 2%;
    }

    .intro-sec-p {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
    }
} */

/* * {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

meter::-webkit-meter-optimum-value {
    background: none;
    background-color: rgb(170, 169, 168);
}

header {
    font-family: sans-serif;
    width: 100%;
    background: url('../IMAGES/programmer_new.jpg') no-repeat center fixed;
    background-size: cover;
}

.header-nav {
    box-shadow: 0 0 0.5rem 0 black;
    height: 11vh;
    position: fixed;
    background: url('../IMAGES/programmer.jpg') no-repeat center fixed;
    transition: 0.5s;
    opacity: 0.9;
}


@media screen and (max-width: 768px) {

    

    .desktop-menu {
        display: none;
    }

    #logo {
        width: 10%;
        margin-top: 3%;
        margin-right: 50%;
    }

    .menu-img {
        width: 8%;
        margin-top: 3.5%;
        position: fixed;
        position: absolute;
        z-index: 3;
        cursor: pointer;
    }

    .menu-img:hover {
        opacity: 0.6;
    }

    

    #about-item {
        margin-top: 1rem;
    }

    .side-menu {
        margin-left: 50%;
        width: 50%;
        height: 43vh;
        padding-top: 8%;
        margin-top: 0rem;
        top: 0;
        text-align: left;
        position: absolute;
        z-index: 2;
        background-color: rgb(159, 170, 169);
        opacity: 0.9;
        color: honeydew;
        visibility: hidden;
        transition: width 2s;
        transition-timing-function: linear;
    }

    .side-menu a {
        color: honeydew;
    }

    .side-menu-item {
        margin-bottom: 1.5rem;
        
    }

    .side-menu-item:hover {
        color: white;
    }

    .intro-sec {
        width: 100%;
        height: 89vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-sec h4 {
        color: rgb(236, 227, 227);
        margin-top: 18%;
        padding-top: 5%;
    }

    .intro-sec h1 {
        color: rgb(236, 227, 227);
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .intro-sec a {
        padding-top: 4%;
        width: 35%;
    }

    .intro-sec-p {
        background-color: transparent;
        padding-top: 4%;
        border: 2px solid rgb(70, 67, 67);
        height: 2.5rem;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: rgb(236, 227, 227);
    }

    #about-sec {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(56, minmax(4vh, auto));
        grid-template-columns: repeat(20, 5%);
        font-family: sans-serif;
    }

    .umuzi-img {
        width: 19rem;
    }

    .bdcc-img {
        width: 15rem;
    }

    #about-sec .welcome-h {
        grid-row: 3/4;
        grid-column: 9/13;
    }

    #about-sec .about-h {
        grid-column: 8/14;
        grid-row: 4/5;
    }

    #about-sec .about-pic-sec {
        grid-column: 5/17;
        grid-row: 6/22;
        background: url('../IMAGES/about.png') no-repeat center;
        background-size: cover;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
        border-radius: 5px;
    }

    #about-sec .background-p {
        grid-column: 4/18;
        grid-row: 23/24;
        font-weight: bolder;
    }

    .current-h {
        grid-column: 7/15;
        grid-row: 26/27;
    }

    .umuzi-sec {
        grid-column: 4/18;
        grid-row: 28/41;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    .umuzi-sec h4 {
        margin-top: 3rem;
    }

    .umuzi-img {
        margin-top: 1.5rem;
        width: 12rem;
        border-radius: 5px;
    }

    .bayathandwa-sec {
        grid-column: 4/18;
        grid-row: 43/56;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    .bayathandwa-sec h4 {
        margin-top: 3rem;
        margin-left: 4%;
        margin-right: 4%;
    }

    .bdcc-img {
        margin-top: 15%;
    }

    #skills-sec {
        background-color: rgb(247, 247, 247);
        display: grid;
        grid-template-rows: repeat(72, minmax(5vh, auto));
        grid-template-columns: repeat(20, 5%);
        font-family: sans-serif;
        width: 100%;
        text-align: center;
    }

    .skills-h {
        grid-column: 10/12;
        grid-row: 3/4;
    }

    .myskills-h {
        grid-column: 8/14;
        grid-row: 4/5;
    }

    .skills-p {
        grid-column: 3/19;
        grid-row: 6/7;
    }

    .html-h3 {
        grid-row: 8/9;
        grid-column: 3/8;
    }

     .html-percent {
        grid-row: 8/9;
        grid-column: 12/13;
    }

    #html-meter {
        grid-row: 9/10;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .css-h3 {
        grid-row: 11/12;
        grid-column: 3/7;
    }

    .css-percent {
        grid-row: 11/12;
        grid-column: 12/13;
    }

    #css-meter {
        grid-row: 12/13;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .javascript-h3 {
        grid-row: 14/15;
        grid-column: 4/8;
    }

    .javascript-percent {
        grid-row: 14/15;
        grid-column: 12/13;
    }

    #javascript-meter {
        grid-row: 15/16;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .sql-h3 {
        grid-row: 17/18;
        grid-column: 3/7;
    }

    .sql-percent {
        grid-row: 17/18;
        grid-column: 11/12;
    }

    #sql-meter {
        grid-row: 18/19;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .c-h3 {
        grid-row: 20/21;
        grid-column: 3/6;
    }

    .c-percent {
        grid-row: 20/21;
        grid-column: 11/12;
    }
    
    #c-meter {
        grid-row: 21/22;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .java-h3 {
        grid-row: 23/24;
        grid-column: 3/7;
    }

    .java-percent {
        grid-row: 23/24;
        grid-column: 10/12;
    }

    #java-meter {
        grid-row: 24/25;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .linux-h3 {
        grid-row: 26/27;
        grid-column: 3/10;
    }

    .linux-percent {
        grid-row: 26/27;
        grid-column: 12/13;
    }

    #linux-meter {
        grid-row: 27/28;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .git-h3 {
        grid-row: 29/30;
        grid-column: 4/9;
    }

    .git-percent {
        grid-row: 29/30;
        grid-column: 12/13;
    }

    #git-meter {
        grid-row: 30/31;
        grid-column: 4/18;
        width: 100%;
        height: 1.5rem;
    }

    .do-h {
        grid-row: 32/33;
        grid-column: 9/13;
    }

    .learn-h {
        grid-row: 33/34;
        grid-column: 3/19;
    }

    .do-p {
        grid-row: 35/36;
        grid-column: 3/19;
        color: gray;
    }

    .courses-sec {
        grid-row: 37/46;
        grid-column: 5/17;
        background-color: white;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
        text-align: center;
    }

    .courses-sec img {
        width: 2.5rem;
        margin-top: 1.9rem;
    }

    .courses-sec h5 {
        margin-top: 1rem;
    }

    .courses-sec p {
        margin-top: 2rem;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .challenges-sec {
        grid-row: 47/56;
        grid-column: 5/17;
        background-color: white;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
        text-align: center;
    }

    .challenges-sec img {
        width: 2.5rem;
        margin-top: 1.9rem;
    }

    .challenges-sec h5 {
        margin-top: 1rem;
    }

    .challenges-sec p {
        margin-top: 2rem;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .teach-sec {
        grid-row: 57/66;
        grid-column: 5/17;
        background-color: white;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
        text-align: center;
    }

    .teach-sec img {
        width: 2.5rem;
        margin-top: 1.9rem;
    }

    .teach-sec h5 {
        margin-top: 1rem;
    }

    .teach-sec p {
        margin-top: 1.6rem;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .available-sec {
        grid-row: 67/73;
        grid-column: 1/21;
        background-color: rgb(194, 193, 193);
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .available-h {
        font-size: large;
        color: white;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .contact-btn-link {
        margin-top: 1rem;
        font-size: larger;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: 2px solid rgb(70, 67, 67);
        border-radius: 5px;
        align-self: center;
        width: 45%;
        height: 1.8em;
    }

    .contact-btn-p {
        margin-top: 2%;
    }

    .contact-btn-link:hover {
        background-color: gray;
    }

    #projects-sec {
        display: grid;
        grid-template-rows: repeat(58, minmax(5vh, auto));
        grid-template-columns: repeat(20, 5%);
        font-family: sans-serif;
        text-align: center;
    }

    #projects-sec h5 {
        grid-row: 3/4;
        grid-column: 8/14;
    }

    #projects-sec h2 {
        grid-row: 4/5;
        grid-column: 6/16;
    }

    .projects-p {
        grid-row: 6/7;
        grid-column: 3/19;
        color: gray;
        text-align: center;
    }

    .website-project {
        grid-column: 5/17;
        grid-row: 8/17;
        background: url('../IMAGES/website_pro.jpg') no-repeat center;
        background-size: cover;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #web-sec {
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }

    #web-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #web-sec p {
        color: white;
        margin-top: 3%;
    }

    #web-sec:hover {
        background-color: rgb(177, 170, 166);
    }

    .zintu-project {
        grid-column: 5/17;
        grid-row: 18/27;
        background: url('../IMAGES/zintu-pro.jpg') no-repeat center;
        background-size: contain;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #zintu-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    #zintu-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #zintu-sec p {
        color: white;
        margin-top: 3%;
    }

    #zintu-sec:hover {
        background-color: rgb(105, 109, 156);
    }

    .bayathandwa-project {
        grid-column: 5/17;
        grid-row: 28/37;
        background: url('../IMAGES/bayathandwa_pro.jpg') no-repeat center;
        background-size: contain;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #bayathandwa-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    #bayathandwa-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #bayathandwa-sec p {
        color: white;
        margin-top: 3%;
    }

    #bayathandwa-sec:hover {
        background-color: rgb(206, 78, 189);
    }

    .health-project {
        grid-column: 5/17;
        grid-row: 38/47;
        background: url('../IMAGES/diet_pro.jpg') no-repeat center;
        background-size: cover;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #health-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    #health-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #health-sec p {
        color: white;
        margin-top: 3%;
    }

    #health-sec:hover {
        background-color: rgb(78, 206, 106);
    }

    .kiddies-project {
        grid-column: 5/17;
        grid-row: 48/57;
        background: url('../IMAGES/kiddies.png') no-repeat center;
        background-size: contain;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #kiddies-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;

    }

    #kiddies-sec h2 {
        color: rgb(128, 0, 85);
        padding-top: 8%;
    }

    #kiddies-sec p {
        color: rgb(128, 0, 85);
        margin-top: 3%;
    }

    #kiddies-sec:hover {
        background-color: rgb(78, 206, 178);
    }

    #blog-section {
        font-family: sans-serif;
        background-color: rgb(247, 247, 247);
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(49, minmax(4vh, auto));
        grid-template-columns: repeat(20, 5%);
    }

    #blog-section h5 {
        grid-row: 2/3;
        grid-column: 9/13;
    }
    
    #blog-section h2 {
        grid-row: 3/4;
        grid-column: 8/14;
    }

    #blog-section .blog-p {
        grid-row: 5/7;
        grid-column: 3/19;
        color: grey;
    }

    .blog-img1 {
        width: 100%;
        height: 40vh;
        grid-row: 8/18;
        grid-column: 5/17;
    }

    #blog-section .blog1-h {
        grid-row: 19/20;
        grid-column: 4/18;
    }

    #blog-section .blog1-p {
        grid-row: 20/21;
        grid-column: 5/17;
        color: grey;
    }

    .blog-img2 {
        width: 100%;
        height: 40vh;
        grid-row: 22/32;
        grid-column: 5/17;
    }

    #blog-section .blog2-h {
        grid-row: 33/34;
        grid-column: 4/18;
    }

    #blog-section .blog2-p {
        grid-row: 34/35;
        grid-column: 5/17;
        color: grey;
    }

    .blog-img3 {
        width: 100%;
        height: 40vh;
        grid-row: 36/46;
        grid-column: 5/17;
    }

    #blog-section .blog3-h {
        grid-row: 47/48;
        grid-column: 4/18;
    }

    #blog-section .blog3-p {
        grid-row: 48/49;
        grid-column: 5/17;
        color: grey;
    }

    #contact-sec {
        font-family: sans-serif;
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: repeat(37, minmax(4vh, auto));
        grid-template-columns: repeat(20, 5%);
    }

    #contact-sec h5 {
        grid-row: 2/3;
        grid-column: 9/13;
    }

    #contact-sec h2 {
        grid-row: 3/4;
        grid-column: 7/15;
    }

    #contact-sec p {
        grid-row: 5/6;
        grid-column: 4/18;
        color: grey;
    }

    #contact-sec .pic-form {
        grid-row: 7/37;
        grid-column: 4/18;
        background-color: rgb(245, 241, 245);
    }
    
    .pic-form img {
        width: 100%;
        height: 60vh;
    }

    .pic-form .form-container {
        display: grid;
        grid-template-columns: repeat(10, 10%);
    }

    .contact-form {
        margin-top: 8%;
    }

    .contact-form input {
        width: 75%;
        height: 2.5rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
    .contact-form #message-area {
        margin-bottom: 1rem;
        border-radius: 5px;
        padding-left: 1.1rem;
        width: 75%;
        height: 5rem;
    }

    .contact-form button {
        height: 2rem;
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
        border-radius: 5px;
        background-color: rgb(189, 187, 184);
        color: white;
        cursor: pointer;
    }

    .contact-form button:hover {
        background-color: gray;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-rows: repeat(21, minmax(4vh, auto));
        grid-template-columns: repeat(20, 5%);
        background-color: rgb(177, 175, 174);
    }

    footer h2 {
        color: white;
    }

    footer p {
        color: white;
    }

    .connect-h {
        grid-row: 2/3;
        grid-column: 7/15;
    }

    .connect-p {
        grid-row: 4/5;
        grid-column: 3/19;
        color: rgb(241, 237, 226);
    }

    .connect-p:hover {
        color: white;
    }

    .links-h {
        grid-row: 7/8;
        grid-column: 3/9;
        text-align: left;
        font-size: medium;
    }

    .menu-links {
        grid-row: 8/9;
        grid-column: 3/9;
        text-align: left;
    }

    .menu-links a p {
        color: rgb(241, 237, 226);
    }

    .menu-links a p:hover {
        color: white;
    }

    .services-h {
        grid-row: 7/8;
        grid-column: 10/19;
        text-align: left;
        font-size: medium;
    }

    .services-links {
        grid-row: 8/9;
        grid-column: 10/19;
        text-align: left;
    }

    .services-links a p {
        color: rgb(241, 237, 226);
    }

    .services-links a p:hover {
        color: white;
    }

    .enquiries-h {
        grid-row: 11/12;
        grid-column: 6/16;
        text-align: center;
        font-size: medium;
    }

    .enquiries-sec {
        grid-row: 12/13;
        grid-column: 5/17;

        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: repeat(3, minmax(5vh, auto));
        text-align: left;
    }

    .enquiries-sec a {
        margin-bottom: 7%;
    }

    #mail-link {
        color: white;
        text-decoration: underline;
    }

    .social-h {
        grid-row: 15/16;
        grid-column: 7/15;
        text-align: center;
        font-size: medium;
    }

    .social-media-nav {
        grid-row: 16/17;
        grid-column: 6/16;
        text-align: center;
    }

    .media-icon {
        width: 2rem;
    }

    .copyright-p {
        grid-row: 19/20;
        grid-column: 3/19;
        text-align: center;
    }
}


@media screen and (min-width:768px){

    .desktop-menu {
        visibility: visible;
    }

    .menu-link {
        display: none;
    }

    .menu-img {
        display: none;
    }

    .side-menu {
        display: none;
    }


  }



@media screen and (min-width: 960px){

    .header-nav {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 8.33%);
      
    }

    #logo {
        width: 3rem; 
    }

    .logo-link {
        grid-column: 4/5;
        margin-top: 6%;
    }

    .desktop-menu {
        grid-column: 6/12;
        display: inline-flex;
        margin-top: 5%;
    }

    .desktop-menu li{
        margin-right: 3rem;
    }

    .menu-item {
        font-size: larger;
        margin-bottom: 2%;
    }

    .menu-item a {
        color: rgb(236, 227, 227);
    }

    .menu-item a:hover {
        color: white;
    }

    .menu-item:hover {
        border-bottom: 2px solid black;
    }

    .intro-sec {
        width: 100%;
        height: 89vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-sec h4 {
        color: rgb(236, 227, 227);
        margin-top: 5%;
        padding-top: 5%;
    }

    .intro-sec h1 {
        color: rgb(236, 227, 227);
        margin-top: 3%;
    }

    .intro-sec a {
        padding-top: 2%;
        width: 17%;
    }

    .intro-sec-p {
        background-color: transparent;
        padding-top: 4%;
        border: 2px solid rgb(70, 67, 67);
        height: 2.5rem;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: rgb(236, 227, 227);
    }

    #about-sec {
        font-family: sans-serif;
        display: grid;
        grid-template-rows: repeat(25, minmax(5vh, auto));
        grid-template-columns: repeat(20, 5%);
    }

    .about-pic-sec {
        grid-column: 3/10;
        grid-row: 4/20;
        background: url('../IMAGES/about.png') no-repeat center;
        background-size: cover;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    .welcome-h {
        grid-column: 11/12;
        grid-row: 4/5;
    }

    .about-h {
        text-align: left;
        grid-column: 11/14;
        grid-row: 5/6;
    }

    .background-p {
        text-align: left;
        grid-column: 11/20;
        grid-row: 7/8;
        color: gray;
        font-size: larger;
    }

    .current-h {
        text-align: left;
        grid-column: 11/14;
        grid-row: 9/10;
    }

    .umuzi-sec {
        grid-column: 11/15;
        grid-row: 11/20;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
        text-align: center;
    }

    .umuzi-sec h4 {
        margin-top: 7%;
        margin-left: 5%;
        margin-right: 5%;
        color: rgb(97, 93, 93);
    }

    .bayathandwa-sec {
        grid-column: 16/20;
        grid-row: 11/20;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
        text-align: center;
    }

    .bayathandwa-sec h4 {
        margin-top: 7%;
        margin-left: 5%;
        margin-right: 5%;
        color: rgb(97, 93, 93);
    }

    .umuzi-img {
        width: 11rem;
        margin-top: 10%;
        border-radius: 5px;
    }

    .umuzi-link {
        margin-top: 10%;
    }

    .bdcc-img {
        width: 16rem;
        margin-top: 10%;
    }

    #skills-sec {
        background-color: rgb(247, 247, 247);
        display: grid;
        grid-template-rows: repeat(48, minmax(5vh, auto));
        grid-template-columns: repeat(20, 5%);
        font-family: sans-serif;
        width: 100%;
    }

    #skills-sec .skills-h {
        text-align: center;
        grid-column: 9/13;
        grid-row: 3/4;
    }

    #skills-sec .myskills-h {
        text-align: center;
        grid-column: 8/14;
        grid-row: 4/5;
    }

    .skills-p {
        text-align: center;
        grid-row: 6/7;
        grid-column: 6/16;
        color: gray;
    }

    #skills-sec meter {
        width: 30rem;
        height: 3rem;
    }

    .html-h3 {
        grid-column: 3/4;
        grid-row: 8/9;
    }

    .html-percent {
        grid-column: 7/8;
        grid-row: 8/9;
    }

    #html-meter {
        grid-column: 3/4;
        grid-row: 9/10;
    }

    .css-h3 {
        grid-column: 12/13;
        grid-row: 8/9;
    }

    .css-percent {
        grid-row: 8/9;
        grid-column: 16/17;
    }

    #css-meter {
        grid-row: 9/10;
        grid-column: 12/13;
    }

    .javascript-h3 {
        grid-column: 3/4;
        grid-row: 11/12;
    }

    .javascript-percent {
        grid-column: 7/8;
        grid-row: 11/12;
    }

    #javascript-meter {
        grid-column: 3/4;
        grid-row: 12/13;
    }

    .sql-h3 {
        grid-column: 12/13;
        grid-row: 11/12;
    }

    .sql-percent {
        grid-column: 15/17;
        grid-row: 11/12;
    }

    #sql-meter {
        grid-column: 12/13;
        grid-row: 12/13;
    }

    .c-h3 {
        grid-column: 3/4;
        grid-row: 14/15;
        text-align: left;
    }

    .c-percent {
        grid-column: 6/8;
        grid-row: 14/15;
    }

    #c-meter {
        grid-column: 3/4;
        grid-row: 15/16;
    }

    .java-h3 {
        grid-column: 12/13;
        grid-row: 14/15;
    }

    .java-percent {
        grid-column: 14/17;
        grid-row: 14/15;
    }

    #java-meter {
        grid-column: 12/13;
        grid-row: 15/16;
    }

    .linux-h3 {
        grid-column: 3/5;
        grid-row: 17/18;
    }

    .linux-percent {
        grid-column: 7/8;
        grid-row: 17/18;
    }

    #linux-meter {
        grid-column: 3/4;
        grid-row: 18/19;
    }

    .git-h3 {
        grid-column: 12/14;
        grid-row: 17/18;
        text-align: left;
    }

    .git-percent {
        grid-column: 16/17;
        grid-row: 17/18;
    }

    #git-meter {
        grid-column: 12/13;
        grid-row: 18/19;
    }

    .do-h {
        text-align: center;
        grid-column: 9/13;
        grid-row: 22/23;
    }

    .learn-h {
        text-align: center;
        grid-column: 7/15;
        grid-row: 23/24;
    }

    .do-p {
        text-align: center;
        color: gray;
        grid-column: 5/17;
        grid-row: 25/26;
    }

    .courses-sec {
        grid-row: 27/36;
        grid-column: 3/7;
        background-color: white;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    .courses-sec img {
        width: 2.5rem;
        margin-top: 1.2rem;
    }

    .courses-sec h5 {
        margin-top: 1rem;
    }

    .courses-sec p {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .challenges-sec {
        grid-row: 27/36;
        grid-column: 9/13;
        background-color: white;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    .challenges-sec img {
        width: 2.5rem;
        margin-top: 1.2rem;
    }

    .challenges-sec h5 {
        margin-top: 1rem;
    }

    .challenges-sec p {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .teach-sec {
        grid-row: 27/36;
        grid-column: 15/19;
        background-color: white;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    .teach-sec img {
        width: 2.5rem;
        margin-top: 1.2rem;
    }

    .teach-sec h5 {
        margin-top: 1rem;
    }

    .teach-sec p {
        margin-top: 2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .available-sec {
        grid-row: 40/49;
        grid-column: 1/21;
        background-color: rgb(194, 193, 193);
        padding-top: 7%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .available-h {
        font-size: xx-large;
        color: white;
    }

    .contact-btn-link {
        margin-top: 1rem;
        font-size: larger;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: 2px solid rgb(70, 67, 67);
        border-radius: 5px;
        align-self: center;
        width: 20%;
        height: 2em;
    }

    .contact-btn-p {
        margin-top: 2%;
    }

    .contact-btn-link:hover {
        background-color: gray;
    }

    #projects-sec {
        display: grid;
        grid-template-rows: repeat(36, minmax(5vh, auto));
        grid-template-columns: repeat(20, 5%);
        font-family: sans-serif;
    }

    #projects-sec h5 {
        text-align: center;
        grid-column: 9/13;
        grid-row: 3/4;
    }

    #projects-sec h2 {
        text-align: center;
        grid-column: 8/14;
        grid-row: 4/5;
    }

    .projects-p {
        text-align: center;
        grid-row: 6/7;
        grid-column: 6/16;
        color: gray;
    }

    .website-project {
        grid-column: 2/14;
        grid-row: 8/26;
        background: url('../IMAGES/website_pro.jpg') no-repeat center;
        background-size: cover;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #web-sec {
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }

    #web-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #web-sec p {
        color: white;
    }

    #web-sec:hover {
        background-color: rgb(177, 170, 166);
    }
            
    .zintu-project {
        grid-column: 15/20;
        grid-row: 8/16;
        background: url('../IMAGES/zintu-pro.jpg') no-repeat center;
        background-size: contain;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #zintu-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    #zintu-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #zintu-sec p {
        color: white;
    }

    #zintu-sec:hover {
        background-color: rgb(105, 109, 156);
    }
            
    .bayathandwa-project {
        grid-column: 15/20;
        grid-row: 18/26;
        background: url('../IMAGES/bayathandwa_pro.jpg') no-repeat center;
        background-size: contain;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #bayathandwa-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    #bayathandwa-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #bayathandwa-sec p {
        color: white;
    }

    #bayathandwa-sec:hover {
        background-color: rgb(206, 78, 189);
    }
            
    .health-project {
        grid-column: 2/8;
        grid-row: 28/36;
        background: url('../IMAGES/diet_pro.jpg') no-repeat center;
        background-size: cover;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #health-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    #health-sec h2 {
        color: white;
        padding-top: 30%;
    }

    #health-sec p {
        color: white;
    }

    #health-sec:hover {
        background-color: rgb(78, 206, 106);
    }
            
    .kiddies-project {
        grid-column: 9/20;
        grid-row: 28/36;
        background: url('../IMAGES/kiddies.png') no-repeat center;
        background-size: contain;
        cursor: pointer;
        box-shadow: 0 0 0.5rem 0 rgb(185, 182, 182);
    }

    #kiddies-sec {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    #kiddies-sec h2 {
        color: white;
        padding-top: 8%;
    }

    #kiddies-sec p {
        color: white;
    }

    #kiddies-sec:hover {
        background-color: rgb(78, 206, 178);
    }

    #blog-section {
        font-family: sans-serif;
        background-color: rgb(247, 247, 247);
        display: grid;
        grid-template-rows: repeat(13, minmax(5vh, auto));
        grid-template-columns: repeat(20, 5%);
        text-align: center;
    }

    #blog-section h5 {
        grid-column: 9/13;
        grid-row: 3/4;
    }

    #blog-section h2 {
        grid-column: 8/14;
        grid-row: 4/5;
    }

    #blog-section .blog-p {
        grid-column: 4/18;
        grid-row: 6/7;
        color: gray;
    }

    #blog-section h3 {
        font-weight: lighter;
    }

    .blog-img1 {
        grid-column: 3/7;
        grid-row: 8/9;
        width: 21rem;
        height: 22rem;
        text-align: center;
    }

    .blog1-h {
        grid-column: 3/8;
        grid-row: 10/11;
    }

    .blog1-p {
        grid-column: 3/8;
        grid-row: 12/13;
        color: gray;
        text-align: center;
    }

    .blog-img2 {
        grid-column: 9/13;
        grid-row: 8/9;
        width: 21rem;
        height: 22rem;
        text-align: center;
    }

    .blog2-h {
        grid-column: 9/14;
        grid-row: 10/11;
    }

    .blog2-p {
        grid-column: 9/14;
        grid-row: 12/13;
        color: gray;
        text-align: center;
    }

    .blog-img3 {
        grid-column: 15/19;
        grid-row: 8/9;
        width: 20rem;
        height: 22rem;
        text-align: center;
    }

    .blog3-h {
        grid-column: 15/20;
        grid-row: 10/11;
    }

    .blog3-p {
        grid-column: 15/20;
        grid-row: 12/13;
        color: gray;
        text-align: center;
    }

    #contact-sec {
        display: grid;
        grid-template-rows: repeat(23, minmax(5vh, auto));
        grid-template-columns: repeat(12, 1fr);
        font-family: sans-serif;
        text-align: center
    }

    #contact-sec h5 {
        grid-row: 3/4;
        grid-column: 6/8;
    }

    #contact-sec h2 {
        grid-row: 4/5;
        grid-column: 5/9;
    }

    #contact-sec p {
        grid-row: 6/7;
        grid-column: 4/10;
    }

    #contact-sec .pic-form {
        grid-row: 8/24;
        grid-column: 2/12;
        background-color: rgb(245, 241, 245);

        display: grid;
        grid-template-columns: repeat(2, 50%);

    }

    .pic-form img {
        width: 35rem;
    }

    .pic-form .form-container {
        background-color: violet;
        display: grid;
        grid-template-columns: repeat(10, 10%);
    }

    .contact-form {
        margin-top: 3rem;
    }

    .contact-form input {
        width: 28rem;
        height: 3rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
    .contact-form #message-area {
        margin-bottom: 1rem;
        border-radius: 5px;
        padding-left: 1.1rem;
    }

    .contact-form button {
        height: 3rem;
        width: 14rem;
        margin-right: 14rem;
        border-radius: 5px;
        background-color: rgb(190, 184, 170);
        color: white;
        cursor: pointer;
    }

    .contact-form button:hover {
        background-color: gray;
    }

    .gray-font {
        color: gray;
    }

    footer {
        text-align: left;
        display: grid;
        grid-template-rows: repeat(8, minmax(10vh, auto));
        grid-template-columns: repeat(12, 8.3%);
        background-color: rgb(170, 169, 168);
    }

    footer h2 {
        color: white;
    }

    footer p {
        color: white;
    }

    .connect-h {
        grid-row: 2/3;
        grid-column: 2/4;
    }

    .connect-p {
        grid-row: 3/4;
        grid-column: 2/4;
        font-size: larger;
        color: rgb(241, 237, 226);
    }

    .connect-p:hover {
        color: white;
    }

    .links-h {
        grid-row: 2/3;
        grid-column: 5/6;
    }

    .menu-links {
        grid-column: 5/6;
        grid-row: 3/4;
    }

    .menu-links a p {
        font-size: larger;
        color: rgb(241, 237, 226);
    }

    .menu-links a p:hover {
        color: white;
    }

    .services-h {
        grid-row: 2/5;
        grid-column: 7/9;
    }

    .services-links {
        grid-row: 3/4;
        grid-column: 7/9;
    }

    .services-links a p {
        font-size: larger;
        color: rgb(241, 237, 226);
    }

    .services-links a p:hover {
        color: white;
    }

    .enquiries-h {
        grid-row: 2/5;
        grid-column: 10/12;
    }

    .enquiries-sec {
        grid-row: 3/4;
        grid-column: 10/12;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(3, minmax(5vh, auto));
        text-align: left;
    }

    #mail-link {
        color: white;
        text-decoration: underline;
    }

    .social-h {
        grid-row: 5/6;
        grid-column: 5/9;
        text-align: center;
    }

    .social-media-nav {
        grid-row: 6/7;
        grid-column: 6/8;
        text-align: center;
    }

    .media-icon {
        width: 3rem;
    }

    .copyright-p {
        grid-row: 8/9;
        grid-column: 4/10;
        text-align: center;
    }
} */
