body {
    background: url('../IMAGES/background.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menu-icon {
    width: 2rem;
}

header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(3rem, auto));
}

.header-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.5rem 0.5rem 1rem 1rem 1rem 0.2rem;
    box-shadow: 0 0 0.5rem 0 black;
}

#header-intro {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, minmax(0.5rem, auto));
}

@keyframes zoom_in_out {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

#intro-code {
    grid-column: 4/10;
    grid-row: 3/4;
}

#code-img {
    width: 18rem;
    border-radius: 5px;
    box-shadow: 0 0 0.8rem 0 black;
    animation: zoom_in_out 10s forwards;
    animation-iteration-count: infinite;
}

#coder-fig {
    grid-column: 2/10;
    grid-row: 4/6;
    
}

#code-p {
    font-weight: bold;
    color: rgb(39, 39, 29);
    font-size: xx-large;
    font-size: 1.5rem;
    animation: zoom_in_out 10s forwards;
    animation-iteration-count: infinite;
}

.logo-img {
    width: 3rem;
}

.menu-img {
    width: 2rem;
}

.logo {
    grid-column: 2/3;
    grid-row: 2/6;
}

#menu {
    grid-column: 11/12;
    grid-row: 3/6;
}

.desktop-menu-list {
   grid-column: 5/13;
   grid-row: 3/4;

   display: grid;
   grid-template-columns: repeat(12, 6rem);
   text-align: center;
   visibility: hidden;
}

.menu-item {
    font-weight: bold;
    color: rgb(227, 233, 146);
}

.menu-item:hover {
    border-bottom: 2px solid rgb(54, 168, 98);
}

.close-icon {
    width: 1.5em;
}

#side-menu-section {
    position: absolute;
    margin-left: 58%;
    opacity: 0.8;
    display: none;
}

.side-menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1rem 1rem 1.5rem 16rem;
    background-color: rgb(28, 105, 28);
}

#close-link {
    grid-row: 2/3;
    grid-column: 8/9;
}

.side-menu-list {
    grid-row: 4/5;
    grid-column: 1/9;
}

.side-menu-item {
    font-weight: bold;
    color: rgb(227, 233, 146);
}

.side-menu-item:hover {
    border-bottom: 2px solid rgb(54, 168, 98);
}

.intro-p-container {
    grid-row: 7/9;
    grid-column: 2/12;
    background-color: khaki;
    opacity: 0.8;
    border-radius: 4px;
}

.italic-span {
    font-style: italic;
}

.intro-p{
    text-align: center;
    font-weight: bold;
    color: rgb(36, 33, 12);
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, minmax(3rem, auto));
}

#skills-section {
    background-color: red;
    grid-row: 3/4;
}

#projects-section {
    background-color: orange;
    grid-row: 4/5;
}

#contact-section {
    background-color: yellow;
    grid-row: 5/6;
}

footer {
    background-color: green;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, minmax(3rem, auto));
}

/* tablet-sized */
@media screen and (min-width:768px) {
    #menu {
        display: none;
    }

    #side-menu-section {
        display: none;
    }

    .desktop-menu-list {
        visibility: visible;
    }
}

/* desktop-sized */
@media screen and (min-width: 900px){
    .desktop-menu-list {
        grid-column: 6/13;
        grid-template-columns: repeat(12, 8rem);
    }

    .menu-item {
        color: rgb(63, 65, 34);
    }
}