body {
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menu-icon {
    width: 2rem;
}

header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(3rem, auto));
}

.header-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.5rem 0.5rem 1rem 1rem 1rem 0.2rem;
    background-color: rgb(231, 240, 239);
}

.logo-img {
    width: 3rem;
}

.menu-img {
    width: 2rem;
}

.logo {
    grid-column: 2/3;
    grid-row: 2/6;
}

#menu {
    grid-column: 11/12;
    grid-row: 3/6;
}

.desktop-menu-list {
   grid-column: 5/13;
   grid-row: 3/4;

   display: grid;
   grid-template-columns: repeat(12, 6rem);
   text-align: center;
   visibility: hidden;
}

.menu-item {
    font-weight: bold;
    color: darkslategray;
}

.menu-item:hover {
    border-bottom: 2px solid rgb(54, 145, 168);
}

.close-icon {
    width: 1.5em;
}

#side-menu-section {
    position: absolute;
    margin-left: 58%;
    opacity: 0.8;
    transition: transform 0.5s ease-in;
    display: none;
}

.side-menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1rem 1rem 1.5rem 16rem;
    background-color: rgb(203, 224, 222);
}

#close-link {
    grid-row: 2/3;
    grid-column: 8/9;
}

.side-menu-list {
    grid-row: 4/5;
    grid-column: 1/9;
}

.side-menu-item {
    font-weight: bold;
    color: darkslategray;
}

.side-menu-item:hover {
    border-bottom: 2px solid darkslategray;
}

/* Slide show styling */
.slide-show {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3rem 2rem 25rem 2rem 1rem;
}

.slide-background {
    grid-column: 8/13;
    grid-row: 1/5;
    background-color: rgb(203, 224, 222);
}

.header-intro {
    grid-column: 3/12;
    grid-row: 1/2;
    color: darkslategray;
    font-weight: bold;
    font-size: larger;
}

.slide1 {
    grid-column: 1/12;
    grid-row: 2/4;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
}

.slide-image1 {
    width: 20rem;
    border-radius: 8px;
}

.slide1-caption {
    font-weight: bold;
    color: white;
    grid-row: 5/6;
    background-color: gray;
    opacity: 0.9;
    height: 3rem;
    text-align: center;
}

.caption-span {
    color: rgb(203, 224, 222);
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, minmax(3rem, auto));
}

#about-section {
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, minmax(2rem, auto));
}

.gray-font {
    color: darkslategray;
}

.about-img {
    width: 13rem;
}

.about1-fig {
    grid-column: 1/2;
}

.about-info {
    grid-column: 2/13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#welcome-h {
    grid-column: 1/4;
}

#about-h {
    grid-column: 1/12;
}

.history-p {
    grid-column: 1/12;
}

#skills-section {
    background-color: red;
    grid-row: 3/4;
}

#projects-section {
    background-color: orange;
    grid-row: 4/5;
}

#contact-section {
    background-color: yellow;
    grid-row: 5/6;
}

footer {
    background-color: green;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, minmax(3rem, auto));
}

/* tablet-sized */
@media screen and (min-width:768px) {
    #menu {
        display: none;
    }

    .side-menu-section {
        display: none;
    }

    .desktop-menu-list {
        visibility: visible;
    }

    .header-intro {
        grid-column: 4/12;
        grid-row: 1/2;
        font-size: xx-large;
    }

    .slide1 {
        grid-column: 3/12;
        grid-row: 3/4;
    }

    .slide-image1 {
        width: 28rem;
        height: 30rem;
    }

    .slide1-caption {
        grid-row: 6/7;
        height: 4rem;
        font-size: larger;
    }
}

/* desktop-sized */
@media screen and (min-width: 900px){
    .desktop-menu-list {
        grid-column: 6/13;
        grid-template-columns: repeat(12, 8rem);
    }

    .header-intro {
        grid-column: 3/12;
    }

    .slide1 {
        grid-column: 5/12;
    }

    .slide-image1 {
        width: 27rem;
        height: 30rem;
    }
}