//wide screens
@include mediaXL {
    main#home .icons a img {
        width: 4%;
    }

    .skills1-container {

        margin-left: 3%;
        margin-right: 3%;

        img {
            width: 5rem;
            margin-top: 1.5rem;
            margin-right: 1rem;
        }
    }

    .contact-info {
        padding-left: 15%;
        padding-right: 15%;
    }

    .contact-form #message-area {
        height: 15rem;
    }

    .social-info {
      
        h2 {
          font-size: x-large;
          margin-top: 5vh;
          font-weight: bold;
        }
    }
}

//desktops & laptops
@include mediaLg {
    main#home .icons a img {
        width: 6%;
    }

    .skills1-container {

        margin-left: 3%;
        margin-right: 3%;

        img {
            width: 4rem;
            margin-top: 1.5rem;
            margin-right: 1rem;
        }
    }

    .contact-info {
        padding-left: 15%;
        padding-right: 15%;
    }

    .contact-info {
        padding-left: 8%;
        padding-right: 8%;

        .contact-form #message-area {
            height: 12rem;
        }
    }

    .social-info {
      
        h2 {
          font-size: x-large;
          margin-top: 5vh;
          font-weight: bold;
        }
    }
}

//tablets and small laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 150px;
            height: 150px;
        }
    }

    main#home .icons a img {
        width: 10%;
    }

    main#about h1 {
        margin-top: 10vh;
        font-size: 3rem;
    }

    .about-info {
        grid-template-areas: 
        'bio-image'
        'bio'
        'achievements'
        'achievements'
        'achievements';

        grid-template-columns: 1fr;

        .bio-image {
            max-width: 40%;
        }
    }

    .skills-info {
        grid-template-areas: 
        'skills1' 
        'skills2'
        'cv';
        grid-template-columns: 1fr;
    }

    .skills1-container {

        margin-left: 3%;
        margin-right: 3%;

        img {
            width: 3rem;
            margin-top: 1.5rem;
            margin-right: 1rem;
        }
    }

    .contact-info {
        grid-template-areas: 
        'contact-image' 
        'contact-form';
        grid-template-columns: 1fr;
        padding-left: 15%;
        padding-right: 15%;
    }

    main#contact h1 {
        margin-top: 10vh;
        font-size: 3rem;
    }

    .contact-form {
        margin-top: 3vh;
    }

    .contact-form input {
        max-width: 100%;
        
    }
    
    .contact-form #message-area {
        max-width: 100%;
    }

    .contact-form button {
       height: 2rem;
        width: 50%;
    }
}

//smartphones
@include mediaSm {
    main#home {
        padding-left: 10%;
        padding-right: 10%;
    }

    main#home h1 {
        margin-top: 10vh;
        font-size: 2.5rem;
    }

    .menu-nav {
        height: 65vh;

        .nav-item {
            a {
                font-size: 75%;
            }
        }
    }

    .menu-branding {
        height: 35vh;
    }

    main#home .icons a img {
        width: 17%;
    }

    main#home .icons a{
        padding-right: 2%;
    }

    main#about {
        padding-left: 10%;
        padding-right: 10%;

        .about-info {
            .bio-image {
                max-width: 60%;
            }

            .bio {
                h3 {
                    font-size: 95%;
                }

                p {
                    font-size: 70%;
                }
            }

            .achievements {
                h2 {
                    margin-top: 1vh;
                    font-size: 99%;
                    width: 100%;
                }

                .slidershow {
                    top: 33vh;
                    width: 100%;

                    .navigation {
                        display: none;
                    }

                    .slides {

                        input {
                            display: none;
                        }

                        display: flex;
                        flex-direction: column;

                        #umuzi-slide {
                            box-shadow: 0 0 0.7rem 0 rgb(91, 184, 55);
                        }

                        .slide {

                            height: 30vh;
                            margin-bottom: 1rem;
                            border: $secondary-color 2px solid;
                            box-shadow: 0 0 0.7rem 0 rgb(100, 96, 96);

                            div {

                                padding-right: 0.8rem;
                                max-height: 80%;
                                max-width: 100%;
                                box-shadow: 0 0 0.7rem 0 rgb(100, 96, 96);
                            
                                p {
                                    font-size: 75%;
                                }
                            }

                            .mzamomhle-div {
                                height: 42%;
                            }

                            .umuzi-div {
                                height: 40%;
                            }

                            .bdcc-div {
                                height: 40%;
                                background: rgba(rgb(121, 84, 81), 0.6);
                            }

                            img {
                                max-height: 100%;
                                max-width: 100%;
                            }
                        }

                        // grid-template-areas: 
                        //     'slide1' 
                        //     'slide2'
                        //     'slide3'
                        //     'slide4';
                        // grid-template-columns: 1fr;

                        // .s1 {
                        //     grid-area: slide1;
                        // }

                        // #mzamomhle-slide {
                        //     grid-area: slide2;
                        // }

                        // #bdcc-slide {
                        //     grid-area: slide3;
                        // }

                        // #cput-slide {
                        //     grid-area: slide4;
                        // }
                    }
                }
            }
        }
    }

    main#about h1 {
        margin-top: 10vh;
        font-size: 2.5rem;
    }

    main#skills h1 {
        margin-top: 10vh;
        font-size: 3.5rem;
    }

    .skills1-container {

        margin-left: 3%;
        margin-right: 3%;

        img {
            width: 3rem;
            margin-top: 1.5rem;
            margin-right: 1rem;
        }
    }

    main#contact {
        padding-right: 10%;
        padding-left: 10%;
    }

    main#contact h1 {
        margin-top: 10vh;
        font-size: 2rem;
    }

    main#contact h2 {
        font-size: 1.5rem;
    }

    .contact-form {

        button {
            height: 2rem;
            width: 100%;
        }
    }
    
    .contact-info {
        padding-left: 8%;
        padding-right: 8%;

        .contact-form #message-area {
            height: 12rem;
        }
    }
}